/* From Uiverse.io by Admin12121 */ 
.wallet {
    --bg-color: #dac5fb;
    --bg-color-light: #F0E7FF;
    --text-color-hover: #fff;
    --box-shadow-color: rgba(0, 0, 0, 0.48);
  }
  
  .cardf {
    width: 220px;
    height: 321px;
    background: #8B4513;
    overflow: hidden;
    display: flex;
    border-radius: 10px;
    margin-left: 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 14px 26px rgba(0,0,0,0.04);
    transition: all 0.3s ease-out;
    text-decoration: none;
  }
  
  .cardf:hover {
    transform: translateY(-5px) scale(1.005) translateZ(0);
    box-shadow: 0 24px 36px rgba(0,0,0,0.11),
      0 24px 46px var(--box-shadow-color);
  }
  
  .cardf:hover .overlayx {
    transform: scale(4) translateZ(0);
  }
  
  .cardf:hover .circle {
    border-color: var(--bg-color-light);
    background: var(--bg-color);
  }
  
  .cardf:hover .circle:after {
    background: var(--bg-color-light);
  }
  
  .cardf:hover p {
    color: var(--text-color-hover);
  }
  
  .cardf:active {
    transform: scale(1) translateZ(0);
    box-shadow: 0 15px 24px rgba(0,0,0,0.11),
      0 15px 24px var(--box-shadow-color);
  }
  
  .cardf p {
    font-size: 20px;
    color: #000000;
    margin-top: 30px;
    z-index: 1000;
    transition: color 0.3s ease-out;
  }
  
  .circle {
    width: 131px;
    height: 131px;
    border-radius: 50%;
    background: #fff;
    border: 3px solid var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease-out;
  }
  
  .circle:after {
    content: "";
    width: 118px;
    height: 118px;
    display: block;
    position: absolute;
    background: var(--bg-color);
    border-radius: 50%;
    transition: opacity 0.3s ease-out;
  }
  
  .circle svg {
    z-index: 10000;
    transform: translateZ(0);
  }
  
  .overlayx {
    width: 118px;
    position: absolute;
    height: 118px;
    border-radius: 50%;
    background:#5c2e0d ;
    top: 70px;
    left: 50px;
    z-index: 0;
    transition: transform 0.3s ease-out;
  }