@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Press+Start+2P&display=swap');
/* From Uiverse.io by JkHuger */ 
.login {
    font-family: 'Roboto', sans-serif;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
    justify-content: center;
    font-weight: bold;
    font-size: x-large;
  }
  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 100vh;
    position: relative;
  }
  
  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 450px;
    width: 400px;
    flex-direction: column;
    gap: 35px;
    background: #F5DEB3;
    box-shadow: 16px 16px 32px #c8c8c8,
          -16px -16px 32px #fefefe76;
    border-radius: 8px;
  }
  .inputBoxf{
    position: relative;
    width: 350px;
  }
  .inputBoxf input {
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    color: #000;
    font-size: 0.7em;
    background: transparent;
    border-left: 2px solid #000;
    border-bottom: 2px solid #000;
    transition: 0.1s;
    border-bottom-left-radius: 8px;
  }
  
  .inputBoxf span {
    margin-top: 5px;
    position: absolute;
    left: 0;
    transform: translateY(-4px);
    margin-left: 15px;
    padding: 10px;
    pointer-events: none;
    font-size: 12px;
    color: #000;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 3px;
    border-radius: 8px;
  }
  
  .inputBoxf input:valid~span,
  .inputBoxf input:focus~span {
    transform: translateX(113px) translateY(-15px);
    font-size: 0.6em;
    padding: 2px 45px;
    background: #8B4513;
    letter-spacing: 0.2em;
    color: #fff;
    border: 2px;
  }
  
  .inputBoxf input:valid,
  .inputBoxf input:focus {
    border: 2px solid #000;
    border-radius: 8px;
  }





  .inputBoxx{
    position: relative;
    width: 350px;
  }
  .inputBoxx input {
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    color: #000;
    font-size: 0.7em;
    background: transparent;
    border-left: 2px solid #000;
    border-bottom: 2px solid #000;
    transition: 0.1s;
    border-bottom-left-radius: 8px;
  }
  
  .inputBoxx span {
    margin-top: 5px;
    position: absolute;
    left: 0;
    transform: translateY(-4px);
    margin-left: 15px;
    padding: 10px;
    pointer-events: none;
    font-size: 12px;
    color: #000;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 3px;
    border-radius: 8px;
  }
  
  .inputBoxx input:valid~span,
  .inputBoxx input:focus~span {
    transform: translateX(113px) translateY(-15px);
    font-size: 0.6em;
    padding: 2px 70px;
    background: #8B4513;
    letter-spacing: 0.2em;
    color: #fff;
    border: 2px;
  }
  
  .inputBoxx input:valid,
  .inputBoxx input:focus {
    border: 2px solid #000;
    border-radius: 8px;
  }





  
  .inputBox {
    position: relative;
    width: 250px;
  }

  
  .inputBox input {
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    color: #000;
    font-size: 1em;
    background: transparent;
    border-left: 2px solid #000;
    border-bottom: 2px solid #000;
    transition: 0.1s;
    border-bottom-left-radius: 8px;
  }
  
  .inputBox span {
    margin-top: 5px;
    position: absolute;
    left: 0;
    transform: translateY(-4px);
    margin-left: 10px;
    padding: 10px;
    pointer-events: none;
    font-size: 12px;
    color: #000;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 3px;
    border-radius: 8px;
  }
  
  .inputBox input:valid~span,
  .inputBox input:focus~span {
    transform: translateX(113px) translateY(-15px);
    font-size: 0.8em;
    padding: 5px 10px;
    background: #8B4513;
    letter-spacing: 0.2em;
    color: #fff;
    border: 2px;
  }
  
  .inputBox input:valid,
  .inputBox input:focus {
    border: 2px solid #000;
    border-radius: 8px;
  }
  
  .enter {
    height: 45px;
    width: 150px;
    border-radius: 5px;
    border: 2px solid #000;
    cursor: pointer;
    background-color: transparent;
    transition: 0.5s;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    margin-bottom: 1em;
  }
  
  .enter:hover {
    background-color: #8B4513;
    color: white;
  }
  
  